h1{
    background-color: rgb(39, 15, 215);
    color: black;
    text-align: center;
}
body{
    background-color: rgb(243, 239, 112);
}

img{
    width: 20%;

}
.social{
    text-align: center;
}
div{
    text-align: center;
}